----All Operating systems----

-numpy
-termcolor
-ctypes
-PyQt5
-scipy -> Currently disabled
-azonix font package -> download and install from the assets directory

----Windows only----

-colorama (necessary for the correct functioning of termcolor)
